<ion-header>
  <ion-toolbar>
    <ion-searchbar (keyup.enter)="buscar()" [(ngModel)]="termino" name="termino" class="mt-2 text-light" placeholder="Buscar..." style="margin: auto;flex-basis: 50px;width: 90%;--background:#242526"></ion-searchbar>

  </ion-toolbar>
  <ion-segment  [value]="selected" (ionChange)="segmentChanged($event)"  value="users">
    <ion-segment-button value="1">
      <ion-icon name="person-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-icon name="images-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  
</ion-header>

<ion-content>

 
    <div *ngIf="selected == 1">
     <ng-container *ngIf="usuarios.length >= 1">
      <div *ngFor="let item of usuarios"> 
        <ion-list>
          <ion-item [routerLink]="['/tabs/buscar/perfil',item._id]">
            <ion-avatar slot="start">
              <img src="{{item.profileImg}}">
            </ion-avatar>
            <ion-label class="text-light"> {{item.name}} {{item.surname}} </ion-label>
            
            
          </ion-item>
  
        </ion-list>
      </div>
     </ng-container>
     <ng-container *ngIf="usuarios.length == 0 && !load_data">
      <h1 class="text-center text-light">SIN RESULTADOS PARA <br> {{termino}} </h1>
     </ng-container>
  
     </div>
   
     <div *ngIf="selected == 2">
      <ng-container *ngIf="fotos.length >= 1"  >
        <div *ngFor="let item of fotos"> 
   
         <ion-card style="background-color: #242526;" >
   
             <div class="ms-2 mt-3 mb-2  d-flex justify-content-start">
               <ion-avatar [routerLink]="['/tabs/buscar/perfil',item.user._id]" style="max-height: 35px; max-width: 35px;">
                 <img  src="{{item.user.profileImg}}">
               </ion-avatar>
               <ion-label [routerLink]="['/tabs/buscar/perfil',item.user._id]" class="mt-2 mb-2 text-light fw-bold"> &nbsp; {{item.user.username}}</ion-label>
             </div>
   
           <img width="100%" src="{{item.imagen}}" alt="">
     
           <ion-row class="cardfooter">
             <ion-col>
                   <div class="ms-1 mb-1 mt-1 d-flex justify-content-start">
                     <ion-icon (click)="like_imagen(item._id)" *ngIf="likes.indexOf(item._id) >= 0" color="danger" class="text-light" name="heart"></ion-icon>    
                     <ion-icon (click)="like_imagen(item._id)" *ngIf="likes.indexOf(item._id)< 0" class="text-light" name="heart-outline"></ion-icon>               
                     <ion-icon class="text-light ms-3" [routerLink]="['/fotos',item._id]" name="chatbubble-outline"></ion-icon>
                     
   
                   </div>
                   <div *ngIf="item.likes != 0" class="text-light fw-bold ms-2">
                     {{item.likes}} Me gusta
                   </div>
                   <div class="ms-2">
                    <a class="text-light fw-bold" [routerLink]="['/tabs/buscar/perfil',item.user._id]" style="text-decoration: none;">{{item.user.username}}</a> <ion-text class="text-light ms-1">{{item.descripcion}}</ion-text>
                   </div>
                   <div *ngIf="item.comentarios != 0" class="ms-2">
                     
                     <a [routerLink]="['/tabs/buscar/comentarios',item._id]" style="text-decoration: none;color: #999999;" >Ver los {{item.comentarios}} comentarios</a>
                   </div>
             </ion-col>
           </ion-row>
         </ion-card>
        </div>
       
      </ng-container>
       
      <ng-container *ngIf="fotos.length == 0 && !load_data">
       <h1 class="mt-5 text-center text-light">SIN RESULTADOS PARA <br> {{termino}} </h1>
     </ng-container>
     </div>


</ion-content>
