<ion-tabs >

  <ion-tab-bar slot="bottom" style="--background: black;">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>

    </ion-tab-button>

    <ion-tab-button tab="buscar">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="mis-fotos">
      <ion-icon name="images"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="mi-perfil">
      <ion-avatar>
        <img src="{{identity.profileImg}}">
      </ion-avatar>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
