<ion-header>

  <ion-toolbar>

      <ion-text class="ms-3 text-light fw-bold">Tus fotos</ion-text>
    <ion-buttons  slot="end"  >
      <ion-icon [routerLink]="['/tabs/mis-fotos/new-foto']"  class="me-3 text-light" name="add-circle"></ion-icon>
    </ion-buttons>

  </ion-toolbar>

</ion-header>


<ion-content>


<ng-container *ngIf="fotos.length != 0" >

<div *ngFor="let item of fotos"> 
  
  <ion-card style="background-color: #242526;" >

      <div class="ms-2 mt-3 mb-2  d-flex justify-content-start">
        <ion-avatar [routerLink]="['/myprofile']" routerLinkActive="router-link-active"  style="max-height: 35px; max-width: 35px;">
          <img  src="{{item.user.profileImg}}">
        </ion-avatar>
        
        <ion-label class="mt-2 mb-2 text-light fw-bold"> &nbsp; {{item.user.username}}</ion-label>
        <ion-icon (click)="eliminar_foto(item._id)"  class="ms-auto me-2" color="danger" name="trash-bin"></ion-icon>
      </div>

    <img width="100%" src="{{item.imagen}}" alt="">

    <ion-row class="cardfooter">
      <ion-col>
            <div class="ms-1 mb-1 mt-1 d-flex justify-content-start">
              <ion-icon (click)="like_imagen(item._id)" *ngIf="likes.indexOf(item._id) >= 0" color="danger" class="text-light" name="heart"></ion-icon>    
              <ion-icon (click)="like_imagen(item._id)" *ngIf="likes.indexOf(item._id)< 0" class="text-light" name="heart-outline"></ion-icon>                
              <ion-icon class="text-light ms-3"   [routerLink]="['/tabs/mis-fotos/comentarios',item._id]" name="chatbubble-outline"></ion-icon>
              
            
            </div>
            <div *ngIf="item.likes != 0" class="text-light fw-bold ms-2">
              {{item.likes}} Me gusta
            </div>
            <div class="ms-2">
             <a class="text-light fw-bold" style="text-decoration: none;">{{item.user.username}}</a> <ion-text class="text-light ms-1">{{item.descripcion}}</ion-text>
            </div>
            <div *ngIf="item.comentarios != 0" class="ms-2">
              
              <a [routerLink]="['/tabs/mis-fotos/comentarios',item._id]" style="text-decoration: none;color: #999999;" >Ver los {{item.comentarios}} comentarios</a>
            </div>
      </ion-col>
    </ion-row>
  </ion-card>
 </div> 

</ng-container>




</ion-content>

